#main__page {
    height: 100vh;
    width: 100%;
    background-color: honeydew;
}

.container-fluid {
    margin-top: 5%;
    height: 80%;
}

.info__name {
    width: 100%;
    height: 80vh;
    text-align: center;
}

.info__name .grad1 {
    cursor: pointer;
    font-weight: bolder;
    font-size: 45px;
    background: -webkit-linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: hueShift 5s linear infinite;
    background-size: 300%;
}

.info__name .abt__btn {
    font-weight: bold;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: none;
    background: -webkit-linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
    animation: hueShift 5s linear infinite;
    background-size: 300%;
    outline-style: none;
}

.info__name .grad2 {
    cursor: pointer;
    font-weight: bolder;
    font-size: 45px;
    background: -webkit-linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: hueShift 5s linear infinite;
    background-size: 300%;
}

.info__name .abt__btn2 {
    position: absolute;
    font-weight: bold;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: none;
    background: -webkit-linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
    animation: hueShift 5s linear infinite;
    background-size: 300%;
    outline-style: none;
}

.info__name .grad3 {
    cursor: pointer;
    font-weight: bolder;
    font-size: 55px;
    background: -webkit-linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: hueShift 5s linear infinite;
    background-size: 300%;
}

.info__name .abt__btn3 {
    font-weight: bold;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: none;
    background: -webkit-linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
    animation: hueShift 5s linear infinite;
    background-size: 300%;
    outline-style: none;
}



.info__name .pre {
    position: absolute;
    bottom: 0px;
    right: 20px;
    color: grey;
}



@media only screen and (max-width: 600px) {
    .info__name .grad1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 35px;
    }
    .info__name .abt__btn {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
    }
    .info__name .grad2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 35px;
    }
    .info__name .abt__btn2 {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
    }
    .info__name .grad3 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 35px;
    }
    .info__name .abt__btn3 {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
    }
}

@media only screen and (min-width: 1920px) {
    .info__name .grad1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 65px;
    }
    .info__name .abt__btn {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
    }
    .info__name .grad2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 65px;
    }
    .info__name .abt__btn2 {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
    }
    .info__name .grad3 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 65px;
    }
    .info__name .abt__btn3 {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
    }
}