@font-face {
  font-family: 'Alte';
  src: url("./Fonts/alte-haas-grotesk.regular.ttf");
}

* {
  font-family: 'Alte';
  overflow-x: hidden;
}

#main__page {
  background-color: #f8f9fa !important;
  min-height: 100vh;
}

.brand__image {
  margin-left: 20px;
}

.navbar {
  background-color: white !important;
  visibility: visible;
  /* -webkit-box-shadow: 0px 0px 12px -4px rgba(82, 82, 82, 0.63);
  -moz-box-shadow: 0px 0px 12px -4px rgba(82, 82, 82, 0.63);
  box-shadow: 0px 0px 12px -4px rgba(82, 82, 82, 0.63); */
}

.navbar-nav {
  margin-right: 20px;
  background-color: white !important;
}

.navbar-light .navbar-nav .nav-link {
  font-weight: 500 !important;
  color: black !important;
  background-color: white !important;
  margin-left: 20px;
  margin-right: 20px;
}


